.section-catalog
  .row
    .column.small-12.menu-centered
      ul.menu.simple
        li#btn1: a(href="#") Txtiles
        li#btn2: a(href="#") P.O.P.
        li#btn3: a(href="#") Promociones
        li#btn4: a(href="#") Tienda
    .column.smal-6
      .products
        ul.product
          li.item#item1: img(src="/assets/img/franela-01.jpg")
          li.item#item2: img(src="/assets/img/pop-02.jpg")
          li.item#item3: img(src="/assets/img/uniforme-02.jpg")
          li.item#item4: img(src="/assets/img/franela-01.jpg")
