.row
  .column.small-12
    .navigation.menu-centered
      ul.menu
        li.active: a(href="#") Nosotros
        li: a(href="#") Productos
        li: a(href="#") Servicios
        li: a(href="#") Contactos
